html {
	height: 99%;
	width: 99%;
}
body {
	height: 99%;
	width: 98%;
	margin: 0;
	padding: 0;
	background-image: none;
}

#container {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	display: table;
	vertical-align: middle;
}
#body {
	margin: 0;
	/*padding-left: 200px;*/
	text-align: center;
	position: relative;
	vertical-align: middle;
	display: table-cell;
}