form {
	display: inline-block;
	text-align: left;
}

form label {
	display: inline-block;
	width: 160px;
	text-align: right;
}

input, select {
	margin: 3px;    
}

.button {
	margin-left: 125px;
}

.infoText {
	margin-left: 30px;
	font-style: italic;
	font-weight: bold;
}