#loginForm {
    text-align: center;
}

fieldset {
    display: inline;
    text-align: center;  
    width: 400px;
    border: 1px solid #0000a0;
}
fieldset legend {
    text-align: left;
}

label, input {
    margin-top: 5px;
    margin-bottom: 5px;
}